body {
margin:0;
padding:0;
font:14px Arial;
}
h1{
text-align:center;
}
form {
background:#red;
color:#fff;
width:400px;
margin: 0 auto;
padding:20px;
}

label {
display:block;
font-weight:800;
}
label+input+label,input:last-child {
margin-top:20px;
}
input:last-child {
display:block;
}